* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #111;
}

/* font-family: 'Montserrat', sans-serif; 400 600 700 */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.place {
    margin: 10px;
    font-size: 40px;

}


p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.rating {
    font-weight: 600;
    font-size: 24px;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

header {
    display: flex;
    width: 100%;
    height: 20vh;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-image: url(./img/header_img.jpg);
    background-size: cover;
    background-position: center;
}

.buk_mies,
.pozostali {
    text-align: center;
    color: white;
    margin-top: 50px;
}

.trophy_gold {
    position: relative;
    width: 100px;
    top: 0%;
    left: 0;
}

.heading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 25px;
    text-align: center;
    color: white;
}

#date {
    display: inline;
}

.buk {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 50px 5px rgb(141, 7, 7);
}

.gold {
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

.buk-2 {
    background-color: #fff;
}

.buk1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-radius: 25px;
    height: 100%;
    margin: 0 50px;

}

.logo {
    width: 150px;
    height: 150px;
    margin: 10px;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: 100%;
    text-align: center;
}

.tekst {
    width: 40%;
    padding: 10px;
}

.bonus {
    font-size: 24px;
    color: red;
}


.btn {
    color: white;
    background-color: #1a4bb6;
    border: 2px solid #1a4bb6;
    text-decoration: none;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: .4s;
    display: block;
    margin: 10px;
    box-shadow: 0 0 15px 1px rgb(102, 84, 207);
}

.btn:hover {
    background: transparent;
    background-color: #2d70ff;
    border: 2px solid #2d70ff;
    color: white;
    box-shadow: 0 0 25px 3px rgb(47, 19, 209);
}

.claim {
    text-align: center;
}

.copy {
    width: 80%;
    margin: 0 auto;
    color: white;
}

.copy h2 {
    text-align: center;
    margin: 25px 0;
}

.copy p {
    margin-bottom: 25px;
}

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #f5f6fa;
    padding: 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

    transition: 400ms;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: #f5f6fa;
    font-size: 18px;
}

.cookie-btn {
    background: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    margin: 10px 0;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
}


@media (max-width: 800px) {
    .trophy_gold {
        display: none;
    }

    .buk1 {
        flex-direction: column;
        min-height: 100%;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .tekst {
        width: 90%;
    }
}